/* index.css */
body, html, #root {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #a0cfff, #000000);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
